.btn{
  margin:1%;
}
#result{
  display: none;
}

#submitButton{
  display: none;
}

#questionTwo{
  display: none;
}

#questionThree{
  display: none;
}

#questionFour{
  display: none;
}

#questionFive{
  display: none;
}

#restartButton{
  display: none;
}

.jumbotron{
  background-color: white;
  text-align: center;
  border: 2px solid rgb(156, 156, 156);
}

.catPic{
  width: 10%;
  height: 10%;
  border-radius: 5%;
  border: 1px solid darkgray;
}

.catPic:hover{
  transform: scale(1.75);
}

.card{
  border: 1px solid rgb(156, 156, 156);
}
h3{
  text-align: center;
}