body{
  margin-bottom: 10%;
}
.btn{
  margin:1%;
}
#result{
  display: none;
}

#submitButton{
  display: none;
}

#questionTwo{
  display: none;
}

#questionThree{
  display: none;
}

#questionFour{
  display: none;
}

#questionFive{
  display: none;
}

#restartButton{
  display: none;
}

.jumbotron{
  background-color: lavender;
  text-align: center;
}

.catPic{
  width: 10%;
  height: 10%;
  border-radius: 5%;
  border: 1px solid darkgray;
}

.catPic:hover{
  transform: scale(1.75);
}

.card{
  border: 2px solid rgba(230, 230, 250);
  box-shadow: 5px 3px 3px lightslategray;
}
h3{
  text-align: center;
}

.btn-primary{
  border: 2px solid rgb(148, 148, 160);
  background-color: lavender;
  color: black;
}

.btn-primary:hover{
  border: 2px solid rgb(89, 89, 97);
  background-color: rgb(162, 162, 177);
}

.btn-primary:focus{
  border: 2px solid rgb(89, 89, 97);
  background-color: rgb(162, 162, 177);
}

#nextButton{
  float: right;
}
#result{
  margin-bottom: 5%;
}

#buttons{
  margin-bottom: 5%;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5%;
  background-color: lavender;
  text-align: center;
}

